<div class="app-wrapper">
  <mat-toolbar class="toolbar" color="primary">
    <div class="logo">
      <button mat-icon-button aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>My App</span>
    </div>
    <div class="user-options">
      <mat-slide-toggle [(ngModel)]="isDarkMode" (change)="toggleTheme()">
        <button
          class="slide-button"
          mat-icon-button
          aria-label="Icon-button with face icon"
        >
          <mat-icon class="icon-light" *ngIf="!isDarkMode">{{
            lightIcon
          }}</mat-icon>
          <mat-icon class="icon-dark" *ngIf="isDarkMode">{{
            darkIcon
          }}</mat-icon>
        </button>
      </mat-slide-toggle>
      <button mat-icon-button aria-label="Icon-button with face icon">
        <mat-icon>face</mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" opened> <app-nav></app-nav></mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
      <router-outlet></router-outlet>
      <small>Hecho con ❤️ por Oriana</small>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
