.card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  .slider-card {
    grid-area: 1 / 1 / 2 / 2;
  }
  .badges-card {
    grid-area: 2 / 1 / 3 / 2;
  }
  .buttons-card {
    grid-area: 1 / 2 / 3 / 3;
  }
  @media (max-width: 980px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    /* Define las celdas en una sola columna */
    .slider-card {
      grid-area: auto / auto / auto / auto;
    }
    .badges-card {
      grid-area: auto / auto / auto / auto;
    }
    .buttons-card {
      grid-area: auto / auto / auto / auto;
    }
  }
}
